body {
    background-color: #0c3850;
    display: flex;
    justify-content: center;
}

.main_block{
    width: 1000px;
    background: mediumturquoise;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid darkslategrey;
    font-family: "Trebuchet MS", sans-serif;
    color: #224444;
}
.mini_block {
    box-sizing: border-box;
    width: 980px;
    padding: 10px;
    margin:10px;
    border-radius: 20px;
    background: paleturquoise;
    border: 3px dashed darkslategrey;

}
.title_block{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 1000px;
    padding: 10px;
    margin:10px;
    border-radius: 20px;
    color: paleturquoise;
    border: 3px dashed paleturquoise;
}
.error_block{
    color: #d50606;
}

.button{
    margin: 10px;
    width: 200px;
    height:30px;
    background-color: lightskyblue;
    border-radius: 20px;
    border: 2px solid royalblue;
    color: midnightblue;
    font-family: "Trebuchet MS", sans-serif;
}

