body{
    display: flex;
    justify-content: center;
}
.main_block1 {
    display: flex;
    width: fit-content;
    background: darkslateblue;
    padding: 10px;
    border-radius: 20px;
    border-style: dotted;
    border-width: 5px;
    border-color: gold;
    font-family: "BankGothic Md BT",sans-serif;
    font-size:20px ;
}
.flights_block{
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    justify-content: space-evenly;
}
.launch_block{
    box-sizing: border-box;
    width: 400px;
    background: lightsteelblue;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}
img{
    margin-left: 60px;
}

