.Header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    height: 50px;
    background: mediumaquamarine;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid darkslategrey;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 30px;
    color: #224444;
}
.Header a{
    text-decoration: none;
    color: aliceblue;
}

.Header a:hover{
    text-decoration: underline;
    color: darkviolet;
}

.Header a[class='active']{
    color: indigo;
}